
*{
    margin: 0;
    padding: 0;
    font-family: courier;
}
html, body{
    width: 100%;
    min-height: 100vh;
    height: 100%;
}

#container{
    background-color: rgb(89, 0, 255);
    width: 100%;
    min-height: 100%;
  
  display: flex;
  align-items: center;
  flex-direction:column;
}
h1{
    padding: 5mm;
    
}
.temas{
    width: calc(100% - 100px);
    max-width: 800px;
    border: 5PX solid #000000;
    border-radius: 10mm;
    padding: 5mm;
}
h2{
    padding-bottom: 5mm;
}
.botoes{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 1px solid #fc0202;
    padding: 2mm;
    border-radius: 5mm;
}
a{
   
    padding: 2mm;
    margin: 1mm;
    border: 1px solid #000000;
    border-radius: 2mm;
    text-decoration: none;
    color: #000000;
}


