*{
    margin: 0;
    padding: 0;
    
}
html,body{
    width: 100%;
    min-height: 100vh;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
div{
    width: 100px;
    height: 100px;
    background-color: black;
}

